page-login {
  .h1login,.h2login{
    color: white;
    text-align:center;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    text-shadow: 3px 3px 4px rgba(150, 150, 150, 1);
    padding-left: 1%;
    padding-right: 1%;
  }
  .div-login{
    border-radius: 5px;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100;
  }
  .h1login{
    margin-bottom: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'PT Mono', monospace;
    font-size: 250%;
    margin-top: 25% !important;
  }
  .h2login{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5%;
    font-family: 'PT Mono', monospace;
    font-size: 170%;
  }
  .contentLogin{
    background-image: url("../../assets/imgs/comidas-saudaveis.jpg");
  }
  .buttoncadastro{
    margin-bottom: 7px;
    margin-top: 3%;
    width: 98.5%;
  }
  .listlogin{
    margin-top: 15%;
    margin-right: 0%;
  }
  .buttonesquecisenha{
    margin-left: 45%;
    margin-bottom: 15px;
  }
  .resert-button{
    margin-top: 5%;
    margin-left: 62%;
    border-radius: 10px;
  }
}
