page-reset-password {
  .reset-body{
    background: linear-gradient(to bottom, #56445D, #D499B9);
  }
  .forget-password-1{
   color: white;
   text-align: center;
  }
  .forget-password-2{
    color: white;
    text-align: justify;
    margin-top: 6%;
    font-size: 23px;
  }
  .list-md{
    margin-top: 10% !important;
  }
  .button-md-dark{
    margin-top: 3%;
    margin-left: auto;
    display: flex;
  }
}
